.header {
  font-family: "Fira Code", monospace;
  height: 12.5%;
  background: linear-gradient(
  90deg,
  #141212 0%,
  #2b2222 59%,
  #3b3131 100%
);
  color: #fff;
  display: grid;
  grid-template-areas: "logo nav";
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  border-bottom: 1px solid #b8c6db;
  align-content: center;
}

.header__logo {
  padding-left: 15px;
  padding-top: 10px;
}

.header__menuIcon {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
}
