@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --primary-color: red;
  --background: #363737;
  --text: white;
}

* {
  margin: 0;
  font-family: "Roboto";
  color: #333;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links{
  margin-left: auto;
}


.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  display: inline-block;
  transition: border-bottom 0.3s ease-in-out;
  
}

.navbar a:hover{
  color: red;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid red;
  
}

.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

#newblog{
  /* Need the inline block to make animations work */
  display: inline-block; 
  color: white;
  background-color: #f1356d;
  border-radius: 8px;
}

#newblog:hover{
  transform: scale(1.1);
  transition: all 0.2s ease-in-out
}